In [6]:

# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,3,Thinadhoo,MV,79.54,overcast clouds,0.5333,72.9333,NaN
1,10,Port Blair,IN,82.44,scattered clouds,11.6667,92.7500,"Welcomhotel By ITC Hotels, Bay Island, Port Blair"
2,17,Vaini,TO,80.76,broken clouds,-21.2000,-175.2000,Keleti Beach Resort
3,25,Bengkulu,ID,82.89,overcast clouds,-3.8004,102.2655,Grage Hotel Bengkulu
4,26,Flinders,AU,79.18,clear sky,-34.5833,150.8552,Shellharbour Resort & Conference Centre
5,27,Takoradi,GH,79.72,broken clouds,4.8845,-1.7554,Raybow International Hotel
6,29,Meulaboh,ID,79.56,overcast clouds,4.1363,96.1285,Kost Pria
7,33,Victoria,HK,82.96,few clouds,22.2855,114.1577,Mini Hotel Central
8,35,Carnarvon,AU,84.27,clear sky,-24.8667,113.6333,Hospitality Carnarvon
9,39,Ciudad Guayana,VE,79.52,overcast clouds,8.3533,-62.6528,Hotel Las Americas

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [29]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Flinders"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Thinadhoo"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Takoradi"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Victoria"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Ciudad Guayana"]

In [31]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
print(f'start: {start}, End: {end}')

stop1 = vacation_stop1["Lat"].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0]
print(f'stop 1: {stop1}, stop 2: {stop2}, stop 3: {stop3}')

start: (-34.5833, 150.8552), End: (0.5333, 72.9333)
stop 1: (4.8845, -1.7554), stop 2: (22.2855, 114.1577), stop 3: (8.3533, -62.6528)

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
city_itinerary=gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode = "DRIVING")
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,26,Flinders,AU,79.18,clear sky,-34.5833,150.8552,Shellharbour Resort & Conference Centre
1,3,Thinadhoo,MV,79.54,overcast clouds,0.5333,72.9333,NaN
2,27,Takoradi,GH,79.72,broken clouds,4.8845,-1.7554,Raybow International Hotel
3,33,Victoria,HK,82.96,few clouds,22.2855,114.1577,Mini Hotel Central
4,39,Ciudad Guayana,VE,79.52,overcast clouds,8.3533,-62.6528,Hotel Las Americas

In [34]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=5.0)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))